<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="credit in ctrl.billingCycle.credits">
                <td>
                    <input ng-model="credit.name" class="form-control" placeholder="Informe o nome" ng-readonly="ctrl.tabDelete" />
                </td>
                <td>
                    <input ng-model="credit.value" ng-change="ctrl.calculateValues();" class="form-control" placeholder="Informe o valor" type="number" ng-readonly="ctrl.tabDelete" />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="ctrl.tabDelete" ng-click="ctrl.addCredit($index)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning" ng-disabled="ctrl.tabDelete" ng-click="ctrl.cloneCredit($index, credit)">
                        <i class="fa fa-clone"></i>
                    </button>
                    <button class="btn btn-danger" ng-disabled="ctrl.tabDelete" ng-click="ctrl.deleteCredit($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>