<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="debt in ctrl.billingCycle.debts">
                <td>
                    <input ng-model="debt.name" class="form-control" placeholder="Informe o nome" ng-readonly="ctrl.tabDelete" />
                </td>
                <td>
                    <input ng-model="debt.value" ng-change="ctrl.calculateValues();" class="form-control" placeholder="Informe o valor" type="number" ng-readonly="ctrl.tabDelete" />
                </td>
                <td>
                    <input ng-model="debt.status" class="form-control" placeholder="Informe o status" ng-readonly="ctrl.tabDelete" />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="ctrl.tabDelete" ng-click="ctrl.addDebt($index)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning" ng-disabled="ctrl.tabDelete" ng-click="ctrl.cloneDebt($index, debt)">
                        <i class="fa fa-clone"></i>
                    </button>
                    <button class="btn btn-danger" ng-disabled="ctrl.tabDelete" ng-click="ctrl.deleteDebt($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>