<div role="form">
    <div class="box-body">
        <field id="name" label="Nome" grid="12 6 4" placeholder="Informe o nome" model="ctrl.billingCycle.name" readonly="ctrl.tabDelete"></field>
        <field id="month" label="Mês" grid="12 6 4" placeholder="Informe o mês" type="number" model="ctrl.billingCycle.month" readonly="ctrl.tabDelete"></field>
        <field id="year" label="Ano" grid="12 6 4" placeholder="Informe o ano" type="number" model="ctrl.billingCycle.year" readonly="ctrl.tabDelete"></field>

        <div class="col-xs-12">
            <fieldset>
                <legend>Resumo</legend>
                <div ng-include="'billingCycle/summary.html'"></div>
            </fieldset>
        </div>

        <div class="col-xs-12 col-sm-6">
            <fieldset>
                <legend>Créditos</legend>
                <div ng-include="'billingCycle/creditList.html'"></div>
            </fieldset>
        </div>

        <div class="col-xs-12 col-sm-6">
            <fieldset>
                <legend>Débitos</legend>
                <div ng-include="'billingCycle/debtList.html'"></div>
            </fieldset>
        </div>
    </div>
    <div class="box-footer">
        <button ng-if="ctrl.tabCreate" class="btn btn-primary" ng-click="ctrl.create()">Incluir</button>
        <button ng-if="ctrl.tabUpdate" class="btn btn-info" ng-click="ctrl.update()">Alterar</button>
        <button ng-if="ctrl.tabDelete" class="btn btn-danger" ng-click="ctrl.delete()">Excluir</button>
        <button class="btn btn-default" ng-click="ctrl.refresh()">Cancelar</button>
    </div>
</div>