<div class="row">
    <value-box grid="12 4" color-class="bg-green" icon-class="fa fa-bank" value="R$ {{ ctrl.credit | number: 2 }}" text="Total de créditos"></value-box>
    <value-box grid="12 4" color-class="bg-red" icon-class="fa fa-credit-card" value="R$ {{ ctrl.debt | number: 2 }}" text="Total de débitos"></value-box>
    <value-box grid="12 4" color-class="bg-blue" icon-class="fa fa-money" value="R$ {{ ctrl.total | number: 2 }}" text="Total consolidado"></value-box>
</div>