<content-header name="Ciclo de Pagamentos" small="Cadastro"></content-header>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="BillingCycleCtrl as ctrl">
        <ul class="nav nav-tabs">
            <li ng-if="ctrl.tabList" ng-class="{active: ctrl.tabList}"> 
                <a href data-target="#tabList" data-toggle="tab">
                    <i class="fa fa-bars"></i> Listagem
                </a>
            </li>
            <li ng-if="ctrl.tabCreate">
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li ng-if="ctrl.tabUpdate" ng-class="{active: ctrl.tabUpdate}">
                <a href data-target="#tabUpdate" data-toggle="tab">
                    <i class="fa fa-pencil"></i> Alterar
                </a>
            </li>
            <li ng-if="ctrl.tabDelete" ng-class="{active: ctrl.tabDelete}">
                <a href data-target="#taDelete" data-toggle="tab">
                    <i class="fa fa-trash"></i> Excluir
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-if="ctrl.tabList" class="tab-pane" ng-class="{active: ctrl.tabList}" id="tabList" ng-include="'billingCycle/list.html'"></div>
            <div ng-if="ctrl.tabCreate" class="tab-pane" id="tabCreate" ng-include="'billingCycle/form.html'"></div>
            <div ng-if="ctrl.tabUpdate" class="tab-pane" ng-class="{active: ctrl.tabUpdate}" id="tabUpdate" ng-include="'billingCycle/form.html'"></div>
            <div ng-if="ctrl.tabDelete" class="tab-pane" ng-class="{active: ctrl.tabDelete}" id="tabDelete" ng-include="'billingCycle/form.html'"></div>
        </div>
    </div>
</section>

