<content-header name="Dashboard" small="Versão 1.0"></content-header>
<section class="content" ng-controller="DashboardCtrl as ctrl">
    <value-box grid="4" color-class="bg-green" value="R$ {{ ctrl.credit | number: 2 }}" text="Total de créditos" icon-class="fa-bank"></value-box>
    <value-box grid="4" color-class="bg-red" value="R$ {{ ctrl.debt | number: 2 }}" text="Total de débitos" icon-class="fa-credit-card"></value-box>
    <value-box grid="4" color-class="bg-blue" value="R$ {{ ctrl.total | number: 2 }}" text="Total consolidado" icon-class="fa-money"></value-box>
</section>